<div class="o-principles u-clearfix" id="research">
  <div class="o-principles__wrapper twelve columns">
    <div class="o-principles__item">
      <figure><img width="304" height="304" src="https://c1.staticflickr.com/5/4286/35274546135_b33e9a6ab1_o.png" alt="image"></figure>
      <p>Promote focus by optimizing for single-tasking. Create an environment where it’s easy to complete their goal.</p>
    </div>
    <div class="o-principles__item">
      <figure><img  width="304" height="304" src="https://c1.staticflickr.com/5/4230/35274546495_bb5a2da5f4_o.png" alt="image"></figure>
      <p>The experience should be defined by intention. Create a system that helps users prioritize what they already want to do.</p>
    </div>
    <div class="o-principles__item">
      <figure><img width="304" height="304" src="https://c1.staticflickr.com/5/4224/34430609874_0dd3139e76_o.png" alt="dp-unify"></figure>
      <p>Unify all content. The intention field should be the place for search, generating content, or muting. </p>
    </div>
  </div>
</div>
