/*
* Project: personal portfolio 001
* Author: Duylam Nguyen-Ngo
* Website: duylam.pleaserevise.xyz
* Date: 2018.04.11
* Convention: ABEM
* Section: homebase
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base & Resets
- Typography
- Colors
- Spacing
- Clearing
- Utilities

- Links
- Buttons
- Forms
- List
- Code
- Tables
- Media Queries

*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* BASE & RESETS                                                                *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
*,
figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}
html {
  font-family: 'Brutal Type', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
body {
  position: relative;
  width: 80vw;
  min-width: 280px;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 72px;
}
hr {
  width: 5%;
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* TYPOGRAPHY                                                                   *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
h1 {
  font-size: 48px;
  line-height: 1.2;
}
h2 {
  font-size: 40px;
  line-height: 1.25;
}
h3 {
  font-size: 32px;
  line-height: 1.3;
}
h4 {
  font-size: 24px;
  line-height: 1.35;
}
h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
}
h6 {
  font-size: 12px;
  line-height: 1.6;
}
p,
span {
  font-size: 15px;
  line-height: 1.5;
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* COLORS                                                                       *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* SPACING                                                                      *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* UTILITIES                                                                    *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
::-webkit-scrollbar {
  display: none;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the clearfix class.
 * 2. The use of table rather than block is only necessary if using
 *    :before to contain the top-margins of child elements.
 */
.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.u-clearfix:after {
  clear: both;
}
.u-mobile--hidden {
  display: none !important;
}
.u-spaceLarge {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*
* Project: personal portfolio 001
* Author: Duylam Nguyen-Ngo
* Website: duylam.pleaserevise.xyz
* Date: 2018.04.11
* Convention: ABEM
* Section: atoms
*/
.a-linkImage {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0 !important;
}
.a-linkImage .a-linkImage__image {
  width: 100%;
}
@media (min-width: 600px) {
  footer {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: right;
    position: fixed;
    right: 18px;
    bottom: 96px;
    font-size: 12px;
  }
}

/*
* Project: personal portfolio 001
* Author: Duylam Nguyen-Ngo
* Website: duylam.pleaserevise.xyz
* Date: 2018.04.11
* Convention: ABEM
* Section: organisms
*/
.m-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.m-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-projectContent .m-projectContent__metric {
  text-align: center;
}
.m-projectContent .m-projectContent__count {
  margin-right: 8px;
}
.m-projectContent .m-projectContent__submit {
  padding: 4px 8px;
  border-radius: 2px;
}
.m-dispatchItem {
  display: inline-block;
  background-color: white;
  position: relative;
  height: 0;
  width: 48%;
  padding-bottom: 48%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.2s ease-in-out;
}
.m-dispatchItem:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.m-dispatchItem .m-dispatchItem__content {
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.m-dispatchItem .m-dispatchItem__content img {
  width: 100%;
  display: block;
}
.m-dispatchItem > a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: none;
  position: absolute;
  top: 0;
  left: 0;
}
.m-navLink {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.m-navLink .m-navLink__wrapper {
  width: 80vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
}
.m-navLink .m-navLink__wrapper .m-navLink__item:hover:not(.m-navLink__item--homeButton) a:before {
  opacity: 1;
}
.m-navLink .m-navLink__wrapper .m-navLink__item:nth-last-child(3) {
  margin-right: 0;
}
.m-navLink .m-navLink__wrapper .m-navLink__item {
  display: inline;
  margin-right: 1rem;
  font-size: 15px;
  font-weight: 400;
}
.m-navLink .m-navLink__wrapper .m-navLink__item a:before {
  content: " ";
  display: block;
  width: 110%;
  background-color: #F1B92B;
  height: 2px;
  background-position-y: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 7px;
  left: -5%;
  opacity: 0;
}
.m-navLink .m-navLink__wrapper .m-navLink__item a {
  position: relative;
  display: block;
  line-height: 1;
  text-decoration: none;
  color: #F1B92B;
}
.m-navLink .m-navLink__wrapper .m-navLink__item--koanTurn {
  position: fixed;
  left: 8vw;
  bottom: 1.5rem;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
.m-navLink .m-navLink__wrapper .m-navLink__item--homeButton {
  position: absolute;
  left: 10vw;
  margin-top: 0;
}
.m-navLink .m-navLink__wrapper .m-navLink__item--homeButton img {
  max-width: 14px;
}
.m-projectCard {
  flex: 0 0 300px;
  padding-left: 5vw;
  padding-right: 0;
  margin-bottom: 8rem;
  box-sizing: content-box;
}
.m-projectCard .m-projectCard__imageCover {
  position: relative;
  margin-bottom: 1rem;
}
.m-projectCard .m-projectCard__projectDetails {
  display: flex;
  justify-content: space-between;
}
.m-projectCard:first-child {
  padding-left: 10vw;
  padding-right: 0;
}
.m-projectCard:last-child {
  padding-right: 10vw;
  padding-left: 5vw;
}
.m-projectCard:only-child {
  padding-right: 10vw;
  padding-left: 10vw;
  flex: 0 0 300px;
}
.m-projectCard:first-child:nth-last-child(2) {
  padding-right: 2.5vw;
}
.m-projectCard:first-child:nth-last-child(2) + :last-child {
  padding-left: 2.5vw;
}
.m-copyright {
  margin-bottom: 1.25rem;
  opacity: 0.1;
}
.m-copyright p {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}
.m-projectContent h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.m-projectContent hr {
  margin-bottom: 2rem;
}
.m-projectContent p {
  margin-bottom: 1rem;
  padding: 0 4vw;
  display: block;
}
.m-projectContent p img {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  margin-left: -4vw;
}
.m-navLeftRight {
  line-height: 1;
  display: flex;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}
.m-navLeftRight > * {
  line-height: 1;
  width: 50%;
  text-align: center;
}
.m-navLeftRight > * a {
  text-decoration: none;
  display: block;
  line-height: 1;
  font-weight: 200;
  color: black;
}
.m-listDetails {
  margin-bottom: 2rem;
}
.m-listDetails a {
  color: black;
  text-decoration: none;
  line-height: 1;
  display: block;
}
.m-listDetails img {
  position: fixed;
  top: 0;
  right: 5vw;
  display: none;
  z-index: -1;
}
.m-listDetails:hover img {
  display: block;
}
.m-navLink .m-navLink__wrapper .m-navLink__item a.active:before {
  display: block;
  opacity: 1;
}
.m-projectCard__imageCover .m-projectCard__caption {
  display: none;
}
@media (min-width: 600px) {
  .m-dispatchItem {
    width: 32%;
    padding-bottom: 31.585%;
  }
  .m-dispatchItem .m-dispatchItem__content {
    width: 90%;
  }
  .m-navLink {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .m-navLink .m-navLink__wrapper {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item:hover:not(.m-navLink__item--homeButton) a:before {
    opacity: 1;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item {
    display: inline;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 400;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item a:before {
    content: " ";
    display: block;
    width: 110%;
    background-color: #F1B92B;
    height: 2px;
    background-position-y: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 7.5px;
    left: -5%;
    opacity: 0;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item a {
    position: relative;
    display: block;
    line-height: 1;
    text-decoration: none;
    color: #F1B92B;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item--koanTurn {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    transform: none;
    bottom: 0;
    left: 0;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item--homeButton {
    position: absolute;
    left: 4vw;
    margin-top: 0;
  }
  .m-navLink .m-navLink__wrapper .m-navLink__item--homeButton img {
    max-width: 14px;
  }
}
@media (min-width: 900px) {
  .m-projectCard {
    display: inline-block;
    width: 28%;
    padding: 0;
    margin-right: 1rem;
  }
  .m-projectCard:first-child {
    padding: 0;
  }
  .m-projectCard:last-child {
    padding: 0;
  }
  .m-projectCard:first-child:nth-last-child(2) {
    padding: 0;
  }
  .m-projectCard:first-child:nth-last-child(2) + :last-child {
    padding: 0;
  }
  .m-projectCard__imageCover:hover {
    z-index: 3;
  }
  .m-projectCard__imageCover .m-projectCard__caption {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 40%;
    right: 0;
    text-align: center;
    width: 60vw;
    height: auto;
    background-size: cover;
    background-position: center;
    word-wrap: break-word;
    opacity: 0;
  }
  .m-projectCard__imageCover .m-projectCard__caption h2 {
    color: white;
    font-weight: normal;
  }
  .m-projectCard__imageCover:hover .m-projectCard__caption {
    visibility: visible;
    opacity: 1;
    transition: all 0.6s ease-out;
  }
  .m-projectCard__imageCover:not(:hover) .m-projectCard__caption {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  .m-projectCard__blanket {
    display: block;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  }
  .m-projectCard__imageCover:hover ~ .m-projectCard__blanket {
    visibility: visible;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
  }
  .m-projectCard__imageCover:not(:hover) ~ .m-projectCard__blanket {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out;
  }
}

/*
* Project: personal portfolio 001
* Author: Duylam Nguyen-Ngo
* Website: duylam.pleaserevise.xyz
* Date: 2018.04.11
* Convention: ABEM
* Section: organisms
*/
.o-siteNavigation {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
}
.o-dispatch {
  display: flex;
  justify-content: space-between;
}
.o-projectSet {
  display: block;
  position: relative;
}
.o-projectSet .o-projectSet__tag {
  display: block;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.o-projectSet .o-projectSet__list {
  display: flex;
  width: 100vw;
  margin-left: -10vw;
  overflow-x: scroll;
  overflow-y: hidden;
}
.o-projectHero {
  position: relative;
  padding-top: 6rem;
  margin-bottom: 3rem;
}
.o-projectHero .o-projectHero__cover {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.o-projectHero .o-projectHero__cover img {
  width: 100%;
}
.o-projectHero .o-projectHero__details {
  width: 72vw;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10%;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}
.o-projectHero .o-projectHero__details h5 {
  color: white;
  text-align: left;
  font-weight: 700;
}
.o-projectHero .m-detailCard:not(:last-child) {
  margin-bottom: 2rem;
}
.o-principles .o-principles__wrapper {
  display: flex;
  flex-direction: column;
}
.o-principles .o-principles__item {
  flex: 0 0 100%;
}
.o-principles .o-principles__item figure img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.o-principles .o-principles__item p {
  padding: 0 4vw;
}
@media (min-width: 600px) {
  .o-projectHero {
    padding-top: 12rem;
  }
  .o-principles .o-principles__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .o-principles .o-principles__item {
    flex: 0 0 28%;
  }
  .o-principles .o-principles__item figure img {
    width: 100%;
    height: auto;
  }
  .o-principles .o-principles__item p {
    padding: 0;
  }
}
@media (min-width: 900px) {
  .o-projectSet {
    margin-bottom: 5rem;
  }
  .o-projectSet .o-projectSet__tag {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  .o-projectSet .o-projectSet__list {
    display: block;
    width: 90%;
    margin-left: 0;
  }
  .o-projectHero {
    padding-top: 0;
  }
  .o-projectHero .o-projectHero__cover {
    position: relative;
  }
  .o-projectHero .o-projectHero__details {
    display: flex;
    justify-content: space-between;
    padding: 8%;
    margin-bottom: 0;
    margin-top: -16%;
    z-index: 0;
  }
  .o-projectHero .m-detailCard {
    flex: 0 0 23%;
    display: inline-block;
  }
  .o-projectHero .m-detailCard:not(:last-child) {
    margin-bottom: 0;
  }
}
