/*
* Project: personal portfolio 001
* Author: Duylam Nguyen-Ngo
* Website: duylam.pleaserevise.xyz
* Date: 2018.04.11
* Convention: ABEM
* Section: organisms
*/

.o-siteNavigation {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
}


.o-projectSet {
  display: block;
  position: relative;

  .o-projectSet__tag {
    display: block;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  .o-projectSet__list {
    display: flex;
    width: 100vw;
    margin-left:-10vw;
    overflow-x: scroll;
    overflow-y: hidden;

  }
}

.o-projectHero {
  position: relative;
  padding-top: 6rem;
  margin-bottom: 3rem;
  .o-projectHero__cover {
    position: absolute;
    top: 0;
    overflow: hidden;
    img { width: 100%; }
  }
  .o-projectHero__details {
    width: 72vw;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 10%;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
    h5 { color: white; text-align: left; font-weight: 700; }
  }
  .m-detailCard:not(:last-child) { margin-bottom: 2rem; }
}
.o-principles {
  .o-principles__wrapper {
    display: flex;
    flex-direction: column;
  }
  .o-principles__item {
    flex: 0 0 100%;
    figure img {
      width: 50%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
    p { padding: 0 4vw; }
  }
}
@media (min-width:600px) {
  .o-projectHero { padding-top: 12rem; }
  .o-principles {
    .o-principles__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
    .o-principles__item {
      flex:0 0 28%;
      figure img { width: 100%; height: auto; }
      p { padding: 0; }
    }
  }
}

@media (min-width:900px) {
  .o-projectSet {
    margin-bottom: 5rem;
    .o-projectSet__tag {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
    }
    .o-projectSet__list{
      display: block;
      width: 90%;
      margin-left: 0;
    }
  }
  .o-projectHero {
    padding-top: 0;
    .o-projectHero__cover {
      position: relative;
    }
    .o-projectHero__details {
      display: flex;
      justify-content: space-between;
      padding: 8%;
      margin-bottom: 0;
      margin-top: -16%;
      z-index: 0;
    }
    .m-detailCard {
      flex: 0 0 23%;
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
