{% extends "layout/home.jinja" %}

{% block content %}
    <h2>All pages</h2>
    {% with pages=pages  %}
        {% for page in pages%}
          <span>{{ page}}</span>
        {% endfor %}
    {% endwith %}

{% endblock content %}
