{% extends "layout/" + pages.layout + ".jinja" %}

{% block title -%}
    {{ pages.title }}
{%- endblock title %}

{% block content %}
    {{ pages.html|safe }}
    {% with p=pages  %}
      {% for page in p %}
        {{page}}
      {% endfor %}
    {% endwith %}
{% endblock content %}
