<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Revise This</title>
  <!-- {% block favicon -%}
  <link rel='shortcut icon' href='/assets/img/favicon.ico'> {%- endblock favicon %}-->
  {% block meta_tags %}
  <meta name='description' content=''>
  <meta name='author' content=''>
  {%- endblock meta_tags %}
  <!-- <link rel='stylesheet' type='text/css' href='http://assets.tumblr.com/fonts/brutaltype/stylesheet.css?v=1'>  -->
  {% assets 'css_lib' %}
  <link href='{{ ASSET_URL }}' rel='stylesheet'> {%- endassets %} {% assets 'css_all' %}
  <link href='{{ ASSET_URL }}' rel='stylesheet'> {%- endassets %} {% block custom_css %}{% endblock custom_css -%} {% block typekit %}
  <script type='text/javascript'>
    try {
      Typekit.load();
    } catch (e) {}
  </script>
  {% endblock typekit %}
</head>

<body class=''>
  <nav class='o-siteNavigation'>
    <div class='m-navLink'>
      <ul class='m-navLink__wrapper'>
        <li class='m-navLink__item'><a href='/portfolio'>Portfolio</a></li>
        <li class='m-navLink__item'><a href='/dispatch'>Dispatch</a></li>
        <li class='m-navLink__item'><a href='/about'>About</a></li>
        <li class='m-navLink__item m-navLink__item--homeButton'>
          <a href='/'>
            <img src='/assets/img/eye.svg'/>
          </a>
        </li>
        <li class='m-navLink__item m-navLink__item--koanTurn'>
          <a {% with next=next %} href='/project/{{next}}' {% endwith %} >Mas</a></li>
      </ul>
    </div>
  </nav>

  <main class='o-siteContent'>
    {% block content %}
    {% endblock content %}
  </main>

  <footer class='o-siteFooter'>
    <div class='m-copyright'>
      <p>(c) 2012–2018</p>
    </div>
  </footer>

  {% assets 'js_lib' %}
  <script src='{{ ASSET_URL }}'></script>
  {%- endassets %}

  {% assets 'js_all' %}
  <script src='{{ ASSET_URL }}'></script>
  {%- endassets %}

  {% block custom_js %}{% endblock custom_js -%}

</body>
</html>
